/* General rules for avatars */ 
// General variables

// -- Rounded?
$roundAvatars           : true;

// -- Border
$border                 : none;

// -- Small
$desktopAvatarSmall     : 3.125rem;
$mobileAvatarSmall      : 2.5rem;

// -- Medium
$desktopAvatarMedium    : 6.25rem;
$mobileAvatarMedium     : 5rem;

// -- Large 
$desktopAvatarLarge     : 12.5rem;
$mobileAvatarLarge      : 10rem;

// General classes

.avatar{
    position: relative;
    border: $border;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
    }
    @if($roundAvatars){
        border-radius: 100%;
    }
}

// If avatar does not contain an image, then let's skip using flex

.avatar:empty {
    display: inline-block;
}

// Imports 
// -- Small
@import "avatars/small";
// -- Medum
@import "avatars/medium";
// -- Large
@import "avatars/large";