/* General guides for input and textareas */

// Sizings
$inputHeight    : 3.5rem;

// Quick bindings
// -- Bind all textual inputs
$textualInputs : "input[type='text'], input[type='email'], input[type='password'], input[type='date'], textarea, input[type='url']";

#{$textualInputs}{
    font-family: $bodyFont;
    font-size: $desktopBody;
    width: 100%;
    min-height: $inputHeight;
    appearance: none;
    background: #fff;
    border: none;
    resize: none;
    @media #{$mobile} {
        font-size: $mobileBody;
        line-height: $mobileBodyLine;
    }
    // States
    &.error{
        border: $borderWidth $borderStyle $error;
    }
    &.success, &.match, &.confirmation {
        border: $borderWidth $borderStyle $success;
    }
}