/* Main siteheader */

$headerIndex    : $modalZ - 1;
$headerHeight   : 5rem;

#site-header{
    position: relative;
    height: $headerHeight;
    z-index: $headerIndex;
    @include adaptiveHeader();
}


@import "./header/menu";