/* Mobile adaptive content */
> .content, > main {
    > *:not(.content-flow):not(.reading-flow){
        width: $mobileFlow;
        margin-left: auto;
        margin-right: auto;
    }

    @if($bottomSpacing){
        padding-bottom: $mobileGolden;
    }
}
