/* These are animated blocks that can be used in projects to spice up different elements

	| Blocks
	| - Slideblock 
	| - Opacity block
	| - Rotate Block
	|
	| Anims
	| - Slideblock
	| - Opacity block
	| - Rotate block

*/


// General vars

// -- Amount of blocks to animate
$animationBlocks  				: 20;

// -- Slide block settings
// -- -- Distance
$slideBlockDistance 			: 5rem;

// -- -- Base multiplier time 
$slideBlockBaseTime 			: .33s;  


// -- Opacity block settings 
// -- -- Starting opacity
$opacityBlockStart 				: 0;

// -- -- Ending opacity 
$opacityBlockEnd 				: 1;

// -- -- Base multiplier time 
$opacityBlockTime 				: .40s;


// -- Rotate block
// -- -- Base multiplier time 
$rotateBlockBaseTime 			: .50;


// Blocks	 

.slide-block{
	position: relative;
	animation-iteration-count: 1;
	animation-name: slideBlockTop;
	&.left	{ animation-name: slideBlockLeft; }
	&.right	{ animation-name: slideBlockRight; }
	&.bottom{ animation-name: slideBlockBottom; }
}

// -- Opacity fade block
.opacity-block {
	animation-iteration-count: 1;
	animation-name: opacityBlock;
}

// -- Rotate block
.rotate-block{
	animation-iteration-count: 1;
	animation-name: rotateBlockRight;	
	&.right, &.clockwise 		{ animation-name: rotateBlockRight; }
	&.left, &.counter-clockwise { animation-name: rotateBlockLeft; 	}
}


// Animations 
// -- Animation timings 
@for $i from 1 through 20 {
	// -- Slide block
	.slide-block:nth-child(#{$i})  { animation-duration: #{$i * $slideBlockBaseTime};  }
	// -- Opacity block
	.opacity-block:nth-child(#{$i}){ animation-duration: #{$i * $opacityBlockTime};    }
	// -- Rotate block
	.rotate-block:nth-child(#{$i}) { animation-duration: #{$i * $rotateBlockBaseTime}; } 
}


// -- Slideblocks
// -- -- Top
@keyframes slideBlockTop{
	0% {
		transform: translateY(5rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
// -- -- Left
@keyframes slideBlockLeft{
	0% {
		transform: translateX(5rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
// -- -- Right
@keyframes slideBlockRight{
	0% {
		transform: translateX(-5rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
// -- -- Bottom
@keyframes slideBlockBottom{
	0% {
		transform: translateY(-5rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}


// -- Opacity blocks
@keyframes opacityBlock{
	0%  	{ opacity: $opacityBlockStart; }
	100% 	{ opacity: $opacityBlockEnd;   }
}


// -- Rotate blocks 
// -- -- Clockwise (right)
@keyframes rotateBlockRight{
	0%  	{ transform : rotate(0deg);   }
	100%  	{ transform : rotate(360deg); }
}

// -- -- Counter clockwise (left)
@keyframes rotateBlockRight{
	0%  	{ transform : rotate(0deg);    }
	100%  	{ transform : rotate(-360deg); }
}