/* These rules control the body and html elements of the app */
// General vars
// -- Hide scrollbars?
$hideScroll     : false;

html, body {
    @if($hideScroll){
        -ms-overflow-style: -ms-autohiding-scrollbar;
        &::-webkit-scrollbar, &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:window-inactive, *::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:window-inactive {
            visibility: hidden;
            width: 0;
            display: none;
        }
    }
}

//  Body
body{
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $bodyFont;
    background: $background;
    min-height: 100vh;
    color: $bodyColor;
}