/* Page branding and color rules */

@import "./colors";

// Universal color rules

$background     : $smoothGray;
$color          : #fff;
$highlight      : $amethyst; 

// Secondary Colors
$dim            : rgba(0,0,0, .5);
$error          : $aurora-red;
$success        : $green-flash;

// Borders
$borderWidth    : 1px;
$borderColor    : #fff;
$borderStyle    : solid;

$border         : $borderWidth  $borderStyle $borderColor;

// Highlights
.highlight, .highlight-color{
    color: $highlight;
    stroke: $highlight;
} 
.highlight-bg{
    background-color: $highlight !important;
}

// General color rules
.white-bg{
    background: #fff;
    color: #000;
}
.black-bg{
    background: #000;
    color: #fff;
}