/* This file contains general rules for debugging */

// -- Wireframes
// -- -- Enable or disable grid
$wireframes         : false;

// -- -- Levels of wireframes
$wireframeDepth     : 4;

// -- -- Hover debugging
$wireframeHover     : false;


// -- Grid
// -- Enable or disable grid
$grid               : false;

// -- Choose a size for the grid
$gridSize           : calc(100vw / 100);

// -- Choose a color for the gridlines
$gridColor          : tomato;


// Illustrate size differences between devices
$deviceOverlays     : false;

// -- Create wireframes
@if($wireframes){

    // -- Don't touch me
    $debugSelector : "";

    body {
        &::before{
            content: "Debugging mode active";
            background: red;
            text-align: center;
            display: block;
            padding: .5rem 0;
            position: fixed;
            top: -100%;
            width: 100%;
            z-index: 10000;
            animation: debug 5s 1;
            color: #fff;
            font-family: monospace;
        }
        @for $i from 0 through $wireframeDepth {
            $debugSelector : str-insert($debugSelector, "> * ", $i * 4);
            #{$debugSelector}{
                outline: 1px solid random-color();
                &:hover{
                    outline-style: dashed;
                    @if($wireframeHover){
                        position: relative;
                        &::before{
                            content: "depth-#{$i - 1}";
                            top: 0;
                            left: 0;
                            position: absolute;
                            background: red;
                            color: #fff;
                            font-family: monospace;
                        }
                    }
                }
            }
        }
    }
}

// Device overlays

@if($deviceOverlays ){
    body {
        &::after, &::before{
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10000;
        }
        &::after{
            width: 1440px;
            height: 900px;
            outline: 2px dotted $gridColor;
        }
        &::before{
            width: 375px;
            height: 667px;
            outline: 2px dotted lighten($gridColor, 20%);
        }
    }
}


@keyframes debug{
    0% {
        top: -100%;
    }
    25%{
        top: 0;
    }
    75%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}

// Grid
@if($grid){
    html body {
        &::before, &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: auto;
            background-color: transparent;
            display: block;
            z-index: 9999;
            pointer-events: none;
        }
        &::before{
            background-image: linear-gradient(90deg, #{color($gridColor, .2)} 1px, transparent 1px);
            background-size: #{$gridSize} 100%;
        }
        &::after{
            background-size: 100% #{$gridSize};
            background-image: linear-gradient(#{color($gridColor, .2)} 1px, transparent 1px);
        }
    }
}