/* Websafe fonts */

$arial      : Arial, "Helvetica Neue", Helvetica, sans-serif;
$courier    : "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$georgia    : Georgia, Times, "Times New Roman", serif;


 /* Google font options */
// -- Example: $google-fonts : ('Montserrat' : "400,600", "Roboto" : '300i,800');

$googleFonts : false;

@if($googleFonts){
    @each $weights, $font in $googleFonts {
        @import url(#{"https://fonts.googleapis.com/css?family=" + str-replace($font, " ", "+") + ':' + str-replace($weights, " ", ",")  });
    }
}

/* Local font file embed
* Local file embeds presuppose a folder in assets called fonts, to generate necessary font files: https://transfonter.org/
*                            *name*: *weight*, *filename*, *style*;
* -- Example: $localFonts : ('Montserrat' : (400, 'Montserrat-SemiBold', "normal"))
*
*/
$localFonts : false;

@if($localFonts){
    @each $name, $properties in $localFonts {
        @font-face {
            font-family: $name;
            src:    url('../fonts/#{nth($properties, 2)}.eot');
            src:    url('../fonts/#{nth($properties, 2)}.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/#{nth($properties, 2)}.woff2') format('woff2'),
                    url('../fonts/#{nth($properties, 2)}.woff') format('woff'),
                    url('../fonts/#{nth($properties, 2)}.ttf') format('truetype');
            font-weight: nth($properties, 1);
            font-style: nth($properties, 3);
        }
    }
}


/* Font vars */

$montserrat     : 'Montserrat', sans-serif;
$franklin       : "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
$futura         : Futura, "Trebuchet MS", Arial, sans-serif;
$bodoni         : "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$garamond       : Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$gillsans       : "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$rockwell       : Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$roboto         : 'Roboto', sans-serif;
$opensans       : 'Open Sans', sans-serif;
$oswald         : 'Oswald', sans-serif;
$playfair       : 'Playfair Display', serif;