/* General rules defining the styling and the coloring of icons */

// General variables
// -- Settings 
$autoSize               : false;
$stroke                 : true;

// -- Icon Sizings
$desktopIconSize        : 2.5rem;
$mobileIconSize         : 2rem;


// -- Icon Spacing 
$desktopIconMargin      : 1.125rem;
$mobileIconMargin       : .5rem;

// -- Colors 
$iconColor              : $bodyColor;  
$iconHover              : $highlight;

// -- Canvas (only applicable if autosize )
$desktopIconCanvas      : 3rem;
$mobileIconCanvas       : 2.5rem;



svg{
    @if $stroke {
        stroke: $iconColor; 
    } @else {
        fill: $iconColor;
    }
}

// Generic classes 

@if($autoSize) {
    .icon {
        box-sizing: content-box;        
        width: $desktopIconSize;
        height: $desktopIconSize;
        padding: ($desktopIconCanvas - $desktopIconSize) / 2;
        position: relative;
        @media #{$mobile}{
            width: $mobileIconSize;
            height: $mobileIconSize;
            padding: ($mobileIconCanvas - $mobileIconCanvas) / 2;
        }
    }
}