*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul,li {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content: '';
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a{
    text-decoration: none;
    color:inherit;
}

a img {
    border: 0;
}

hr {
    border-style: single;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap, .inner-wrap{
    width:100%;
    position: relative;
}
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
input, select, textarea{
    -webkit-border-radius:0px;
}
.hidden-element{
    display:none;
}
.visible{
    display:block;
}
.bold{
    font-weight:bold;
}
.italic{
    font-style: italic;
}