/* These rules define the standard spacings between elements */

// Default spacing between element such as items in a nav
$desktopStandardMarginX  : 2rem;
$desktopStandardMarginY  : 2rem;
$mobileStandardMarginX   : 1.5rem;
$mobileStandardMarginY   : 1.5rem;

// Magic Margins
// Magic margins are specific spacings applied to specific selectors

$magicMargins           : false;

// -- Desktop magic margins
$desktopMagic           : (
    '.slide-block'      : ( 'bottom'    , 2rem ),
    'address'           : ( 'left'      , 1rem ),
);

// -- Mobile magic margins
$mobileMagic            : (
    '.slide-block'      : ( 'bottom'    , 1rem ),
    'address'           : ( 'left'      , .5rem ),
);

// Classes
// -- Desktop
@media #{$desktop}{
    .margin{
        &.top{ margin-top: $desktopStandardMarginY;}
        &.bottom{ margin-bottom: $desktopStandardMarginY; }
        &.left{ margin-left: $desktopStandardMarginX; }
        &.right{ margin-right: $desktopStandardMarginX; }
    }

    .margin-top { margin-top: $desktopStandardMarginY;}
    .margin-bottom { margin-bottom: $desktopStandardMarginY; }
    .margin-left { margin-left: $desktopStandardMarginX; }
    .margin-right { margin-right: $desktopStandardMarginX; }

    // Marginify
    .marginify{
        &.top > * {
            margin-top: $desktopStandardMarginY;
        }
        &.bottom > * {
            margin-bottom: $desktopStandardMarginY;
        }
        &.left > * {
            margin-left: $desktopStandardMarginX;
        }
        &.right > * {
            margin-right: $desktopStandardMarginX;
        }
    }

    .marginify-top > * {
        margin-top: $desktopStandardMarginY;
    }
    .marginify-bottom > * {
        margin-bottom: $desktopStandardMarginY;
    }
    .marginify-left > * {
        margin-left: $desktopStandardMarginX;
    }
    .marginify-right > * {
        margin-right: $desktopStandardMarginX;
    }
}

// -- Mobile
@media #{$mobile}{
   .margin{
       &.top{ margin-top: $mobileStandardMarginY;}
       &.bottom{ margin-bottom: $mobileStandardMarginY; }
       &.left{ margin-left: $mobileStandardMarginX; }
       &.right{ margin-right: $mobileStandardMarginX; }
   }

   .margin-top { margin-top: $mobileStandardMarginY;}
   .margin-bottom { margin-bottom: $mobileStandardMarginY; }
   .margin-left { margin-left: $mobileStandardMarginX; }
   .margin-right { margin-right: $mobileStandardMarginX; }

    // Marginify
    .marginify{
        &.top > * {
            margin-top: $mobileStandardMarginY;
        }
        &.bottom > * {
            margin-bottom: $mobileStandardMarginY;
        }
        &.left > * {
            margin-left: $mobileStandardMarginX;
        }
        &.right > * {
            margin-right: $mobileStandardMarginX;
        }
    }

    .marginify-top > * {
        margin-top: $mobileStandardMarginY;
    }
    .marginify-bottom > * {
        margin-bottom: $mobileStandardMarginY;
    }
    .marginify-left > * {
        margin-left: $mobileStandardMarginX;
    }
    .marginify-right > * {
        margin-right: $mobileStandardMarginX;
    }
}


// -- Let the magic happen
@if($magicMargins){

    @media #{$mobile}{
        @each $selector, $properties in $mobileMagic {
            #{$selector}{
                margin-#{nth($properties, 1)}: nth($properties, 2);
            }
        }
    }

    @media #{$desktop}{
         @each $selector, $properties in $desktopMagic {
            #{$selector}{
                margin-#{nth($properties, 1)}: nth($properties, 2);
            }
        }
    }
}